/* общие стили */

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
	margin: 0;
	background-color: #ffffff;
}	

.container {
	width: 940px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
ul {
	margin: 0
}

ul {
	list-style-type: none;
}

@font-face{
	font-family: 'cuprum';
	src: url('fonts/cuprum.woff') format('woff'),
	url('fonts/cuprum.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

h1 {
	background-color: #ee3643;
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	border-bottom: 5px solid #b52933;
	font-weight: normal;
}

h2 {
	color: #ee3643;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-size: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
}

.btn {
	font-size: 14px;
	color: #ffffff;
	background-color: #ee3643;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
}

article h4 {
	font-size: 18px;
	color: #000000;
	padding: 0 40px;
}

article p {
	font-size: 17px;
	color: #999999;
	text-decoration: line-through;
}

article a {
	background-position: center;
	background-image: url("img/btn.png");
	background-repeat: no-repeat;
	font-size: 17px;
	color: #ffffff;
	text-decoration: none;
	padding: 15px 50px;
}

article {
	border: 1px solid #e5e5e5;
	width: 218px;
	height: 317px;
	text-align: center;
}

article > div {
	width: 218px;
	height: 180px;
}

.new-products {
	background-position: right top;
	background-image: url("img/products/new-flag.png");
	background-repeat: no-repeat;
}

.bosch-bfg2000 p {
	visibility: hidden;
}

.img-bosch-bfg9000 {
	background-position: center;
	background-image: url("img/products/bosch-bfg9000-small.jpg");
	background-repeat: no-repeat;
}

.img-bosch-bfg3000 {
	background-position: center;
	background-image: url("img/products/bosch-bfg3000-small.jpg");
	background-repeat: no-repeat;
}

.img-bosch-bfg6000 {
	background-position: center;
	background-image: url("img/products/bosch-bfg6000-small.jpg");
	background-repeat: no-repeat;
}

.img-bosch-bfg2000 {
	background-position: center;
	background-image: url("img/products/bosch-bfg2000-small.jpg");
	background-repeat: no-repeat;
}


/* временные стили */

body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

body * {
	font-family: "cuprum";
}

/* хедер страницы */

.left-header a,
.right-header a {
	color: #ffffff;
	font-size: 17px;
}

.left-header h1 {
	padding: 13px 55px;
}

.head-header {
	background-color: #293449;
}

.left-header {
	float: left;
}

.header-search {
	padding: 17px 20px;
	padding-left: 35px;
	margin-left: 15px;
	background-position: left center;
	background-image: url("img/icon-search.png");
	background-repeat: no-repeat;
}

.header-tab {
	background-position: left center;
	background-image: url("img/icon-bookmark.png");
	background-repeat: no-repeat;
}

.header-basket {
	background-position: left center;
	background-image: url("img/icon-basket.png");
	background-repeat: no-repeat;
}

.right-header {
	float: right;
}

.left-header a {
	float: left;
}

.right-header a {
	float: left;
	padding: 17px 20px;
}

.header-to-order {
	background-color: #63a63e;
}

.header > * {
	float: left;
	width: 33.33%;
}

.footer-header {
	background-color: #f1f5f7;
}

.header h2 {
	padding: 57px 49px 47px 53px;
}

.header address {
	padding-top: 46px;
	text-align: center;
	font-size: 14px;
	color: #32425c;
}

.header > address > a {
	display: block;
	border: 3px solid #ffffff;
	padding: 11px 50px 11px 70px;
	font-size: 21px;
	color: #e9292a;
	margin-bottom: 12px;
}

.user-nav {
	text-align: right;
	padding-top: 46px;
	padding-bottom: 67px;
}
.user-nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 21px;
	background-color: #ffffff;
	padding: 18px 23px 16px 23px;
}

.navigation-header {
	background-color: #f1f5f7;
	padding-bottom: 60px;
}

.navigation-header ul {
	padding: 0;
	height: 55px;
	text-align: center;
	padding-top: 20px;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.navigation-header li {
	display: inline-block;
}

.navigation-header a {
	color: #ffffff;
	font-size: 17px;
	padding: 20px 28px;
}

/* основное содрежимое */

.main-catalog {
	padding-top: 59px;
	padding-bottom: 53px;
}

.main-catalog > * {
	float: left;
}

.main-catalog > a:not(:nth-child(n+3)) {
	padding-right: 20px;
}

.main-catalog > a:not(:last-child) {
	padding-bottom: 20px;
}

.slaider {
	padding-right: 20px;
}

.popular-products {
	height: 88px;
	background-color: #f7f3ec;
	padding-left: 30px;
	padding-right: 25px;
}

.popular-products h3 {
	float: left;
	padding-top: 28px;
}

.popular-products a {
	float: right;
	margin-top: 23px;
	padding: 14px 55px;
}

.product-cards {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.product-cards article {
	display: inline-block;
}

.product-cards article:not(:last-child) {
	margin-right: 18px;
}

.popular-manufacturers {
	height: 88px;
	background-color: #f7f3ec;
	padding-left: 30px;
	padding-right: 25px;
}

.popular-manufacturers h3 {
	float: left;
	padding-top: 28px;
}

.popular-manufacturers a {
	float: right;
	margin-top: 23px;
	padding: 14px 70px;
}

.manufacturers {
	padding-bottom: 85px;
}

.manufacturers span {
	float: left;
	border: 1px solid #e5e5e5;
	width: 218px;
	height: 143px;
	text-align: center;
	margin-top: 22px;
	position: relative;
}

.manufacturers span:not(:nth-child(4n)) {
	margin-right: 22px;
}

.manufacturers span img{
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.services {
	background-color: #f2f6f8;
	padding-top: 67px;
}

.services h3 {
	padding-bottom: 40px;
	color: #000000;
}

.services p {
	margin: 0;
}

.main-services {
	
}

.nav-service {
	float: left;
	width: 235px;
	padding-top: 76px;
	padding-bottom: 100px;
	padding-left: 0;
}

.nav-service a {
	display: block;
	padding-top: 16px;
	padding-bottom: 18px;
	padding-left: 22px;
	text-decoration: none;
	font-size: 21px;
	color: #ffffff;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.selected-service {
	color: #32425c!important;
	background-color: #ffffff!important;
	border-top: 1px solid #ffffff!important;
	border-bottom: 1px solid #ffffff!important;
}

.description-service {
	float: right;
	width: 620px;
	padding-top: 76px;
	padding-bottom: 100px;
	background-position: right bottom;
	background-image: url("img/shipping-background.png");
	background-repeat: no-repeat;
}

.description-service h4 {
	font-size: 36px;
	color: #32425c;
	font-weight: normal;
	padding-bottom: 40px;

}

.description-service p {
	width: 50%;
}

.main-about-us {
	padding-top: 81px;
	padding-bottom: 86px;
}

.main-about-us h3 {
	color: #000000;
}

.main-about-us p {
	margin-top: 37px;
	margin-bottom: 30px;
	font-size: 13px;
}

.about-us {
	float: left;
	width: 528px;
}

.main-contacts {
	float: right;
	width: 300px;
}

.about-us ul {
	padding-bottom: 40px;
	list-style-image: url(img/dash.png);
}

.about-us a {
	display: inline-block;
	padding: 14px 40px;
}

.main-contacts p {
	width: 60%;
}

.main-contacts a {
	margin-top: 40px;
	display: inline-block;
	padding: 14px 61px;
}

/*.main-header {
	min-width: 940px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;

/* основное содрежимое */



/* футер страницы */

/*.main-footer {
	min-width: 940px;
	background-color: #222222;
	background-image: url("img/footer-pattern.png");
	background-repeat: repeat;
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 40px;
}

