/* общие стили */
@font-face {
	font-family: 'Ptsansnarrow';
	font-weight: 400;
	font-style: normal;
	src:
		local('Ptsansnarrow'),
		local('Ptsansnarrow Regular'),
		url(fonts/ptsansnarrow.woff2) format("woff2"),
		url(fonts/ptsansnarrow.woff) format("woff")
}

@font-face {
	font-family: 'Ptsansnarrow';
	font-weight: 700;
	font-style: normal;
	src:
		local('ptsansnarrowbold'),
		local('Ptsansnarrow Bold'),
		url(fonts/ptsansnarrowbold.woff2) format("woff2"),
		url(fonts/ptsansnarrowbold.woff) format("woff")
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
	margin: 0;
	background-color: #fcf9f6;
	background-position: center top;
	background-image: url("img/main-pattern.png");
	background-repeat: repeat;
	text-transform: uppercase;
	font-family: 'Ptsansnarrow', sans-serif;
	font-weight: 700;
	font-size: 14px;
}	

.index {
	margin: 0;
	background-color: #141414;
	background-position: center top;
	background-image: url("img/background-image.jpg");
	background-repeat: no-repeat;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

label,
button {
	user-select: none;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* временные стили */

body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

/* хедер страницы */

.main-header {
	min-width: 960px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
}

.main-header a {
	color: #FFFFFF;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.main-header ul {
	margin: 0;
	padding: 0;
}

.main-header-inner {
	display: initial;
	vertical-align: bottom;
}

.main-navigation {
	float: left;
}

.main-navigation li {
	float: left;
}

.user-nav {
	float: right;
}

.user-nav a {
	margin-left: 12px;
}

.selected {
	padding-top: 25px;
	padding-bottom: 31px;
	box-shadow: 0 4px #ffffff;
}

.main-header a:not(.selected) {
	padding: 25px 0;
}

.user-nav li::before {
	content: url("img/icon-login.png");
	opacity: 0.3;
	padding-left: 15px;
}

.main-header-inner li:hover {
	background-color: #242424;
}

/* основное содрежимое */

.page-nav li{
	float: left;
	font-size: 14px;
}

.page-nav {
	padding: 0;
	padding-top: 20px;
	padding-bottom: 42px;
}

.page-nav a {
	padding: 10px 0;
	margin: 0 18px;
	color: #000000;
}

.page-nav li:first-child a {
	margin-left: 0; 
}

.page-nav li:before {
	content: "♦";
}

.page-nav li:first-child:before {
	content: "";
}

.page-nav b {
	color: #aba9a7;
	font-weight: normal; 
}

.shadow {
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.shadow:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.buy-item {
	margin-bottom: 15px;
	margin: 0 auto;
}

.buy-item span {
	float: left;
	background-color: #e5e5e5;
	padding: 13px 28px;
}

.buy-item a {
	float: left;
	background-color: #000000;
	color: #ffffff;
	padding: 13px 15px;
}

.buy-item a:hover {
	background-color: #663d15
}

h1 {
	margin: 0;
	padding-top: 52px;
	font-size: 30px;
}

button {
	padding: 12px 30px;
	background-color: #000000;
	border: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Ptsansnarrow', sans-serif;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

button:hover {
	background-color: #663d15;
}

/*----------index.html------------*/

.main-page-title {
	text-align: center;
	margin: 0;
	padding: 60px 0 70px;
}

.advantages {
	color: #FFFFFF;
	text-align: center;
}

.advantages li {
	float: left;
	width: 33.33%;
	padding-left: 22px;
	padding-right: 22px;
}

.write-us-inputs input {
	outline: 2px solid #000000;
}

.write-us-inputs input:focus {
	outline: 2px solid #663d15;
}

/*----------price.html------------*/

.price-brands li:before {
	content: "♦ ";
}

.main-title {
	overflow: hidden;
	text-align: center;
}

.main-title > h2 {
	font-size: 48px;
	margin: 0;
	position: relative;
	padding: 0 15px;
	display: inline-block;
}

.main-title > h2:before,
.main-title > h2:after {
	content:"";
	width: 100%;
	border-top: 2px solid;
	position: absolute;
	right: 100%;
	top: 50%;
}

.main-title > h2:after {
	left: 100%;
}

.price-main {
	text-align: left;
	padding-top: 52px;
}

.price-page h3 {
	font-size: 24px;
	margin: 0;
}

.price-brands {
	float: left;
	width: 50%;
	padding-right: 180px;
}

.price-brands h3{
	padding-bottom: 22px;
}

.price-brands li {
	line-height: 2.7;
}

.service-price {
	float: right;
	width: 50%;
}

.service-price h3{
	padding-right: 60%;
	padding-bottom: 35px;
}

.service-price table {
	width: 100%;
	border-collapse: collapse;
}

.service-price td {
	width: 50%;
	padding: 10px;
	border: 2px solid #000000;
}

.center-column {
	text-align: center;
}

.about-us {
	padding-top: 48px;
	padding-bottom: 78px;
	text-align: left;
}

.about-us h3 {
	padding-bottom: 31px;
}

.description p {
	width: 50%;
	float: left;
	margin: 0;
	padding-right: 100px;
	line-height: 1.7;
}

/*----------item.html------------*/

figure {
	margin: 0;
}

.main-item {
	padding-bottom: 45px;
	padding-top: 15px;
}

.main-item section {
	float: left;
	width: 50%;
}

figure li {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.item-description {
	padding-left: 90px;
}

.item-description h2 {
	margin-top: 60px;
	font-size: 24px;
}

.item-description p {
	margin: 35px 0;
	line-height: 1.7;
}

.item-description ul {
	margin: 30px 0;
}

.item-description li:before {
	content: "♦ ";
}

.item-description li {
	line-height: 1.7;
}

.article-item {
	margin-top: 22px;
}

.article-item span {
	float: left;
}

.article-item i {
	float: right;
	font-style: normal;
	color: #aeaeae;
}

/*----------shop.html------------*/

.products {
	padding-top: 8px;
}

.choice-of-item {
	float: left;
	width: 175px;
}

.shop-page-2 {
	float: right;
	width: 700px;
}

.choice-of-item h2 {
	margin: 0;
}

.choice-of-item ul {
	margin: 22px 0 46px;
}

.choice-of-item li {
	padding: 9px 0;
}

.choice-of-item input {
	display: none;
}

.choice-of-item label {
	display: block;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}

.checkbox-filter label::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url("img/input-checkbox.png");
	background-repeat: no-repeat;
}

.checkbox-filter input:checked + label::before {
	background-image: url("img/input-checkbox-checked.png");
	background-repeat: no-repeat;
}

.radio-filter label::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url("img/input-radio.png");
	background-repeat: no-repeat;
}

.radio-filter input:checked + label::before {
	background-image: url("img/input-radio-checked.png");
	background-repeat: no-repeat;
}

.showcase article {
	float: left;
	width: 220px;
	height: 285px;
}

.showcase article:not(:nth-child(3n)) {
	margin-right: 20px;
	margin-bottom: 20px;
}

.showcase article h3 {
	margin: 0;
	padding: 10px 15px;
	font-size: 14px;
}

.showcase > article > a {
	text-transform: none;
	text-decoration: none;
	color: #000000;
	display: inline-block;
}

article .buy-item {
	margin: 0 15px;

}

.showcase b {
	text-transform: uppercase;
	display: block;
}

.nav-item {
	margin-bottom: 45px;
	margin-top: 25px;
}

.nav-item a {
	float: left;
	padding: 13px 18px;
	margin-right: 7px;
	background-color: #000000;
	color: #ffffff;
}

.nav-item a:hover {
	background-color: #663d15;
}

.select-page {
	background-color: #ffffff !important;
	color: #000000 !important;
}

.choice-of-item label:hover {
	color: #663d15;
}


/* футер страницы */

.main-footer {
	min-width: 960px;
	background-color: #222222;
	background-image: url("img/footer-pattern.png");
	background-repeat: repeat;
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 90px;
}

.footer-social {
	float: left;
}

.footer-copyright {
	float: right;
}
