/* общие стили */
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src:
	local(Roboto),
	url(fonts/roboto.woff2) format("woff2"),
	url(fonts/roboto.woff) format("woff")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src:
	local('Roboto'),
	url(fonts/robotobold.woff2) format("woff2"),
	url(fonts/robotobold.woff) format("woff")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	font-style: normal;
	src:
	local('Roboto'),
	url(fonts/robotomedium.woff2) format("woff2"),
	url(fonts/robotomedium.woff) format("woff")
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input,
textarea,
select,
button { 
	font-family: inherit;
	font-size: inherit;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

body {
	margin: 0;
	background-color: #ffffff;
	color: #283136;
	font-size: 16px;
}	

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px; 
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.button,
.button-grey {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
	border: 0;
	outline: 0;
	transition: background-color .5s, border-color .5s;
}

.button {
	border-top: 3px solid #fb565a;
	font-weight: 400;
	padding: 14px 55px;
	background-color: #fb565a;
	color: #ffffff;
}

.button:hover {
	border-top: 3px solid #e74246;
	background-color: #e74246;
}

.button:active {
	border-top: 3px solid #c13135;
	background-color: #d7373b;
	color: rgba(255,255,255,.3);
}

.button-grey {
	border-top: 3px solid #eeeeee;
	font-weight: 600;
	padding: 14px 88px;
	background-color: #eeeeee;
	color: #000000;
}

.button-grey:hover {
	border-top: 3px solid #dfdfdf;
	background-color: #dfdfdf;
	text-decoration: none;
}

.button-grey:active {
	border-top: 3px solid #bfbfbf;
	background-color: #d5d5d5;
	color: #959595;
}

h1,
h2 {
	margin: 0;
}

main h1 {
	font-size: 55px;
	color: #000000;
	text-align: center;
	font-weight: 600;
}

/* Хедер страницы */

.main-header {
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	min-width: 1200px;
}

.main-header a {
	display: inline-block;
	color: #000000;
	text-decoration: none;
	transition: color .3s linear, opacity .3s linear;
}

.main-header > div {
	padding-top: 50px;
}

.main-navigation a {
	padding: 10px 0;
}

.main-navigation ul:first-child {
	margin-right: 223px;
}

.main-navigation ul:first-child li {
	margin-left: 23px;
	margin-right: 23px;
}

.basket {
	margin-right: 10px;
}

.basket li::before {
	content: '';
	background-image: url(img/icon-basket.png);
	background-repeat: no-repeat;
	opacity: 0.3;
	padding-right: 40px;
}

.logo {
	float: left;
}

.main-navigation {
	float: right;
	margin-top: 21px;
}

.main-navigation ul{
	float: left;
}

.main-navigation > ul:first-child > li {
	font-weight: 600;
	float: left;
}

.basket li {
	font-weight: 600;
}

.selected {
	box-shadow: 0 2px #fb565a;
}

.logo[href]:hover {
	opacity: 0.8;
}

.logo[href]:active {
	opacity: 0.3;
}

.main-navigation a:not(.selected):hover,
.basket a:not(.selected):hover {
	color: #fb565a;
}

.main-navigation a:not(.selected):active,
.basket a:not(.selected):active {
	color: #000000;
	opacity: 0.3;
}

/* основное содрежимое */

/* --------index.html-------- */
.main-banner {
	background-color: #eeeeee;
	position: relative;
	min-width: 1200px;
}	

.control-slider {
	position: absolute;
	bottom: 88px;
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	pointer-events: none;
}

.control-slider label {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: 7px;
	background-color: #ffffff;
	cursor: pointer;
	font-size: 0;
	position: relative;
	pointer-events: auto;
	transition: background-color .5s;
}

.control-slider label:hover {
	background-color: #dddddd;
}

#slider-1:checked ~ .control-slider label:nth-child(1)::before,
#slider-2:checked ~ .control-slider label:nth-child(2)::before,
#slider-3:checked ~ .control-slider label:nth-child(3)::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #c1c1c1;
	margin: 5px;
	top: 0;
	left: 0;
}

.slide {
	height: 425px;
	position: relative;
	z-index: 10;
}

.main-banner > input {
	display: none;
}

#slider-1:checked ~ .slide .slide-1 {
	visibility: visible;
}

#slider-2:checked ~ .slide .slide-2 {
	visibility: visible;
}

#slider-3:checked ~ .slide .slide-3 {
	visibility: visible;
}

.slide h2 {
	font-weight: 600;
	margin: 0;
	color: #000000;
	font-size: 55px;
	margin-top: 74px;
	margin-right: 605px;
	line-height: 1;
}

.slide p {
	font-weight: 400;
	color: #283136;
	margin: 0;
	padding-top: 26px;
	padding-bottom: 40px;
	padding-right: 750px;
	line-height: 1.5;
}

.slide a {
	margin-bottom: 82px;
	text-decoration: none;
	color: #ffffff;
}

.slide-position {
	background-position: right bottom;
	position: absolute;
	right: 40px;
	z-index: 1;
	height: 100%;
	margin: 0 15px;
}

.slide-1 {
	background-image: url("img/slide1.png");
	background-repeat: no-repeat;
}

.slide-2 {
	background-image: url("img/slide2.png");
	background-repeat: no-repeat;
}

.slide-3 {
	background-image: url("img/slide3.png");
	background-repeat: no-repeat;
}

.main-services {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.main-item {
	float: left;
	width: 300px;
	padding-top: 146px;
}

.main-item:not(:last-child) {
	margin-right: 100px;
}

.main-item h3 {
	margin: 0;
	font-size: 24px;
	margin-top: 18px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.9;
}

.main-item p {
	margin: 0;
	margin-top: 9px;
	line-height: 1.5;
	margin-right: 50px;
}

.main-item a {
	display: inline-block;
	margin-top: 32px;
	padding: 14px 41px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border-radius: 4px;
	transition: background-color .5s;
}

.websites {
	background-position: left top;
	background-image: url("img/websites.jpg");
	background-repeat: no-repeat;
}

.websites a {
	border-top: 3px solid #fb565a;
	background-color: #fb565a;
}

.websites a:hover {
	border-top: 3px solid #e74246;
	background-color: #e74246;
}
.websites a:active {
	border-top: 3px solid #c13135;
	background-color: #d7373b;
	color: rgba(255,255,255,.3);
}

.apps {
	background-position: left top;
	background-image: url("img/apps.jpg");
	background-repeat: no-repeat;
}

.apps a {
	border-top: 3px solid #00ca74;
	background-color: #00ca74;
}

.apps a:hover {
	border-top: 3px solid #00bc6c;
	background-color: #00bc6c;
}

.apps a:active {
	border-top: 3px solid #009958;
	background-color: #00aa62;
	color: rgba(255,255,255,.3);
}

.presentations {
	background-position: left top;
	background-image: url("img/presentations.jpg");
	background-repeat: no-repeat;
}

.presentations a {
	border-top: 3px solid #efc849;
	background-color: #efc849;
}

.presentations a:hover {
	border-top: 3px solid #eab534;
	background-color: #eab534;
}

.presentations a:active {
	border-top: 3px solid #ce961f;
	background-color: #e5a722;
	color: rgba(255,255,255,.3);
}

.main-concept {
	padding-top: 25px;
	padding-bottom: 62px;
	border-bottom: 2px solid #eeeeee;
}

.main-concept-left {
	float: left;
}

.main-concept-right {
	float: right;
}

.main-concept h2 {
	font-size: 45px;
	margin: 0;
	color: #000000;
	margin-top: 50px;
	margin-bottom: 34px;
	font-weight: 600;
	line-height: 1;
}

.main-concept h4 {
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
}

.main-concept p {
	margin: 0;
	margin-bottom: 41px;
	line-height: 1.5;
}

.main-concept-left ul {
	margin-top: 15px;
}

.main-concept-left {
	width: 660px;
}

.main-concept-right {
	margin-top: 16px;
	margin-right: 10px;
	width: 360px;
}

.main-concept-left li {
	line-height: 3;
	position: relative;
	padding-left: 37px;
}

.main-concept-left li::before {
	color: #fb565a;
	content: '';
	padding-right: 25px;
	border-top: 2px solid #fb565a;
	position: absolute;
	top: 22px;
	left: 0;
}

.main-concept-right h4 {
	margin-top: 34px;
	margin-bottom: 23px;
	text-align: center;
}

.achievement li {
	float: left;
	width: 33.33%;
}

.achievement b {
	font-size: 45px;
	color: #000000;
	line-height: 2;
	position: relative;
}

.achievement span {
	position: absolute;
	font-size: 24px;
	top: -5px;
}

.brands {
	width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid #eeeeee;
}

.brands ul {
	height: 180px;
}

.brands li {
	margin: 0;
	display: inline-block;
	width: 296px;
	height: 100%;
	position: relative;
}

.brands li:not(:last-child)::before {
	content: '';
	border-left: 2px solid #eeeeee;
	position: absolute;
	right: 0;
	top: 64px;
	width: 2px;
	height: 52px;
}

.brands a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	font-size: 0;
	top: 2px;
	transition: opacity .5s;
}

.brands a:hover {
	opacity: 1;
}

.brands a:active {
	opacity: 0.1;
}

.htmlacademy {
	background-position: center;
	background-image: url("img/htmlacademy-logo.png");
	background-repeat: no-repeat;
}

.borodinski {
	background-position: center;
	background-image: url("img/borodinski-logo.png");
	background-repeat: no-repeat;
}

.pinc {
	background-position: center;
	background-image: url("img/pink-logo.png");
	background-repeat: no-repeat;
}

.mishka {
	background-position: center;
	background-image: url("img/mishka-logo.png");
	background-repeat: no-repeat;
}

.main-content {
	padding-bottom: 80px;
}

/* --------catalog.html-------- */

.background-title {
	min-width: 1200px;
	padding-top: 68px;
	padding-bottom: 103px;
	background-color: #eeeeee;
}

.background-title h1 {
	padding-right: 28px;
}

.shop-page {
	padding-top: 59px;
	padding-bottom: 60px;
}

.shop-page  h2 {
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
}

.main-filter {
	float: left;
}

.main-filter input {
	display: none;
}

.main-filter label {
	color: #283136;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
}

.main-filter label:hover {
	color: #000000;
}

/* Ползунок */

.scale-value {
	margin-top: 52px;
	margin-bottom: 58px;
}

.scale {
	width: 260px;
	padding: 39px 22px;
	background-color: #eeeeee;
	margin: 0;
}

.scale-line {
	height: 2px;
	background-color:#d7dcde;
}

.scale-line-active {
	position: relative;
	height: 2px;
	background-color: #00ca74;
	width: 100%;
	z-index: 1;
}

.scale-marker::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	left: 1px;
	top: 1px;
	margin-left: -9px;
	margin-top: -9px;
	box-shadow: 0 2px 3px -1px rgba(0,0,0,.3);
	z-index: -1;
	cursor: pointer;
}

.scale-marker {
	position: absolute;
	padding: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: none;
	background-color: #ababab;
	top: 0;
	overflow: visible;
}

.scale-marker:first-child {
	left: 0;
}

.scale-marker:last-child {
	right: 0;
}

.main-filter label:hover::before {
	opacity: 1;
}

.price-range {
	margin-top: 13px;
	text-transform: uppercase;
}

.price-range input {
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	width: 80px;
	background-color: #eeeeee;
	margin-left: 8px;
	border: 0;
	outline: 0;
}

.price-range input:first-child {
	margin-right: 29px; 
}

/* Основной фильтр */

.filter {
	padding-top: 7px;
	padding-bottom: 42px;
}

.filter li {
	line-height: 2.5;
}

.filter label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	transition: opacity .5s;
}

.filter-mesh label::before {
	width: 25px;
	height: 25px;
	background-image: url("img/radio-off.png");
	background-repeat: no-repeat;
}

.filter-mesh input:checked + label::before {
	background-image: url("img/radio-on.png");
	background-repeat: no-repeat;
}

.filter-features label::before {
	width: 27px;
	height: 23px;
	background-image: url("img/checkbox-off.png");
	background-repeat: no-repeat;
}

.filter-features input:checked + label::before {
	background-image: url("img/checkbox-on.png");
	background-repeat: no-repeat;
}

.catalog-one-page {
	float: right;
	margin-right: 8px;
}

.main-sort {
	margin-bottom: 52px;
	text-transform: uppercase;
}

.main-sort h2 {
	float: left;
}

.sorting a {
	font-size: 14px;
	text-decoration: none;
}

.main-sort a:not(.active) {
	text-decoration: none;
	color: #000000;
	opacity: 0.3;
	transition: opacity .5s;
}

.main-sort a:hover {
	opacity: 0.6;
}

.main-sort a:active {
	opacity: 1;
}

.sorting ul:not(:last-child) li {
	margin-right: 22px;
}

.sorting ul:first-child {
	padding-right: 21px;
}

.sorting {
	float: right;
}

.sorting ul,
.sorting li {
	display: inline-block;
}

.sorting .descending {
	font-size: 0;
	padding: 10px;
	position: relative;
	color: #ffffff;
}

.sorting .descending::after {
	content: ''; 
	position: absolute;
	left: 2px;
	top: 0px;
	bottom: 10px;
	border: 5px solid transparent;
	border-top: 9px solid #000000;
}

.sorting .ascending {
	font-size: 0;
	padding: 10px;
	position: relative;
	color: #ffffff;
}

.sorting .ascending::after {
	content: ''; 
	position: absolute;
	left: 8px;
	top: -5px;
	bottom: 15px;
	border: 5px solid transparent;
	border-bottom: 9px solid #000000;
}

.page-one {
	width: 762px;
}

.page-one article {
	float: left;
	border: 1px solid #e9e9e9;
	width: 362px;
	height: 618px;
	background-color: #e9e9e9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	transition: box-shadow .5s, background-color .5s;
	overflow-y: hidden;
}

.page-one article img {
	margin-top: 40px;
} 

.page-one article:nth-child(2n-1) {
	margin-right: 37px
}

.page-one article:nth-child(n-2) {
	margin-bottom: 30px
}

.page-one article::before {
	content: '';
	height: 14px;
	width: 14px;
	border-radius: 7px;
	position: absolute;
	background-color: #ffffff;
	top: 12px;
	left: 16px;
	box-shadow: 23px 0 0 0 #ffffff, 46px 0 0 0 #ffffff;
}

.purchase {
	opacity: 0;
	position: absolute;
	top: 386px;
	height: 230px;
	width: 360px;
	padding: 35px 60px;
	text-align: center;
	background-color: #eeeeee;
	transition: opacity .5s, transform .5s;
	transform: translateY(50%);
}

.purchase h3 {
	margin: 0;
}

.purchase p {
	padding: 28px 0;
	margin: 0;
}

.purchase a {
	display: inline-block;
	padding: 17px 60px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fb565a;
	border-radius: 3px;
	text-decoration: none;
}

.purchase a:hover {
	background-color: #e74246;
}	

.purchase a:active {
	background-color: #d7373b;
}

.catalog-nav {
	margin-top: 29px;
	color: #000000;
}

.catalog-nav a:not(.button-grey) {
	display: inline-block;
	margin-right: 6px;
	padding: 13px 18px;
	border-radius: 2px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: background-color .5s, border-color .5s;
}

.catalog-nav .button-grey {
	padding: 13px 75px;
}

.catalog-nav a:not(.selected-page) {
	background-color: #eeeeee;
	border: 3px solid #eeeeee;
}

.selected-page {
	background-color: #ffffff; 
	border: 3px solid #dbdbdb;
}

.catalog-nav a:hover:not(.selected-page) {
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf;
}

.catalog-nav a:active:not(.selected-page) {
	background-color: #d5d5d5;
	border: 3px solid #d5d5d5;
	color: rgba(0,0,0,.3);
}

.page-one article:hover {
	background: #ffffff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	background-color: #4d4d4d;
}

.page-one article:hover .purchase {
	opacity: 1;
	transform: translateY(0)
}

/* футер страницы */

.main-footer {
	min-width: 1200px;
}

.footer-location {
	background-position: center;
	background-image: url("img/map.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 416px;
}

.our-address {
	padding-top: 54px;
	padding-bottom: 47px;
}

.footer-contacts {
	width: 320px;
	background-color: #ffffff;
	padding: 53px 50px 45px;
	color: #666666;
}

.footer-contacts > button {
	padding: 14px 44px;
	margin-top: 38px;
}

.footer-contacts address {
	font-style: normal;
}

.footer-contacts address b {
	display: block;
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.footer-contacts address a {
	font-size: 16px;
	color: #666666;
	text-decoration: none;
}

.footer-contacts > address > span {
	display: block;
	margin-bottom: 16px;
}

.footer-social ul{
	float: left;
	width: 400px;
}

.footer-social li {
	float: left;
}

.footer-social div {
	float: left;
}

.discount-friends {
	padding-top: 75px;
	padding-bottom: 80px;
	line-height: 36px;
}

.discount-friends b {
	display: block;
	font-size: 36px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 3px;
}

.social-icons {
	padding: 70px 0;
}

.social-icons a {
	position: relative;
	font-size: 0px;
}

.social-icons a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;	
}

.social-vk::before {
	background-image: url("img/vk-icon.png");
}

.social-fb::before {
	background-image: url("img/fb-icon.png");
}

.social-ig::before {
	background-image: url("img/insta-icon.png");
}

.social-icons a {
	display: block;
	height: 78px;
	width: 78px;
	background-color: #e1e1e1;
	margin-right: 12px;
	border-radius: 50%;
	transition: background-color .5s, opacity .5s;
}

.social-icons a:hover {
	background-color: #e74246;
}

.social-icons a:active {
	background-color: #d7373b;
}

.social-icons a:active::before {
	opacity: .3;
}

/* Модальное окно */

.write-us {
	height: 590px;
	width: 960px;
	background-color: #ffffff;
	padding: 63px 97px;
	box-shadow: 0 10px 40px rgba(0,0,0,0.8);
}

.write-us h2 {
	font-size: 45px;
	color: #000000;
	font-weight: 600px;
	margin-bottom: 23px;
}

.write-us label {
	display: block;
	font-weight: 700;
	color: #000000;
	margin-bottom: 10px;
}

.input-style {
	border: 2px solid #d7dcde;
	font-size: 16px;
	font-weight: 400;
	color: rgba(68,68,68,.5);
	padding-left: 14px;
}

.input-style:focus {
	border: 2px solid #000000;
	outline: 0; 
}

.write-us form > div {
	display: inline-block;
	margin-top: 16px;
}

.write-us form > div:first-child {
	margin-right: 37px;
}

.write-us form > button {
	padding: 14px 84px;
	margin-top: 24px;
}

.write-us-visible {
	opacity: 1;
	z-index: 10;
	transition: opacity .5s;
}

.input-empty .input-style {
	border: 2px solid #e74246;
}

.input-empty span {
	opacity: 1;
}

.write-us form input {
	height: 50px;
	width: 360px;
}

.write-us form textarea {
	height: 117px;
	width: 760px;
	padding-top: 8px;
}

.modal-body,
.modal-header {
	padding: 0;
	border-bottom: 0;
}

.close {
	color: #fb565a;
	opacity: 0.3;
}

.close:hover {
	color: #fb565a;
	opacity: 1;
}

.close:active {
	color: #fb565a;
	opacity: 0.1;
}

.error {
	display: block;
	color: #e74246;
	font-size: 10px;
	margin-top: 5px;
	opacity: 0;
	user-select: none;
}